/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-size: 24px;
  background-color: #F0F0F0;
  color: #000000;
  font-family: -apple-system, "Microsoft JhengHei", "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
  line-height: 84px;
}

h2 {
  font-size: 128px;
  line-height: 1;
}

p {
  display: block;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.bg-primary {
  background-color: #2EB738;
}

.text-primary {
  color: #2EB738;
}

.bg-white {
  background-color: #ffffff;
}

.text-white {
  color: #ffffff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0px;
}

.content__title {
  width: 350px;
  padding: 113.5px 0   118.5px 0;
  border-top: 1px solid #2EB738;
  border-bottom: 1px solid #2EB738;
  position: relative;
  margin-bottom: 40px;
}

.content__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2EB738;
  width: 350px;
  height: 366px;
  padding: 64px 40px;
  background: white;
  -webkit-box-shadow: 0px 3px 10px #d8d8d8;
          box-shadow: 0px 3px 10px #d8d8d8;
  border-radius: 100px 0px 30px 0px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.content__item__title {
  text-shadow: 4px 3px 0px #F0F0F0;
  font-weight: bold;
  margin-right: 60px;
}

.content__item__text {
  width: 118px;
  text-align: left;
  margin-right: 34px;
}

.content__item__text + .content__item__text {
  margin-top: 8px;
}
/*# sourceMappingURL=all.css.map */