// 通用類
.container {
  max-width: 1280px;
  margin: 0 auto;
}
@each $color, $value in ($color) {
  .bg-#{$color} {
    background-color: $value;
  }
  .text-#{$color} {
    color: $value;
  }
}
.text-center{
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0px;
  &__title {
    width: 350px;
    padding: 113.5px 0 118.5px 0;
    border-top: 1px solid map-get($color, primary);
    border-bottom: 1px solid map-get($color, primary);
    position: relative;
    margin-bottom: 40px;
    &__decoration--top {
      &::before {
        position: absolute;
        content: "x";
        top: -16px;
        left: 0;
        padding-right: 21px;
        font-size: 24px;
        background: $body__background-color;
      }
      &::after {
        position: absolute;
        content: "x";
        top: -16px;
        right: 0;
        padding-left: 21px;
        font-size: 24px;
        background: $body__background-color;
      }
    }
    &__decoration--bottom{
      &::before {
        position: absolute;
        content: "x";
        bottom: -9px;
        left: 0;
        padding-right: 21px;
        font-size: 24px;
        background: $body__background-color;
      }
      &::after {
        position: absolute;
        content: "x";
        bottom: -9px;
        right: 0;
        padding-left: 21px;
        font-size: 24px;
        background: $body__background-color;
      }

    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: map-get($color, primary);
    width: 350px;
    height: 366px;
    padding: 64px 40px;
    background: white;
    box-shadow: 0px 3px 10px #d8d8d8;
    border-radius: 100px 0px 30px 0px;
    margin-left: 30px;
    margin-bottom: 40px;
    &__title {
      text-shadow: 4px 3px 0px #f0f0f0;
      font-weight: bold;
      margin-right: 60px;
    }
    &__text {
      width: 118px;
      text-align: left;
      margin-right: 34px;
      + .content__item__text {
        margin-top: 8px;
      }
    }
  }
}
