$color: (
  primary:  #2EB738,
  white:    #ffffff
);

$body__width: 1920px;
$body__font-size:24px;
$body__font-family:-apple-system, 'Microsoft JhengHei',"Roboto", sans-serif ;
$body__color:#000000;
$body__background-color:#F0F0F0;